* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,rgb(10, 115, 235), rgb(103, 191, 223)) no-repeat center center fixed;
	background-size: cover;  
}

a { color: inherit; } 


.container{
    width: 50vw;
    color: white;
}

.container > .hero {
    width: inherit;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input {
    background-color: transparent !important;
    border: 2px solid white !important;
    color: white !important;
}

.btn {
    border: 2px solid white;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: white !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white !important;
}

#signUpForm {
    display: none;
}

textarea{
    width: 100%;
    height: 15vh;
}

.checkbox {
    display: none;
}

.entry_container{
    column-count: 4;
    column-gap: 1em;
}

.post {
    /* border: 1px solid black;
    width: 25%; */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

/* .post,
.post * {
    display: inline-block !important;
} */