body {
    background: linear-gradient(to right,rgb(12, 150, 44), rgb(12, 172, 235)) no-repeat center center fixed;
	background-size: cover;  
}

a { color: inherit; } 


.container{
    width: 50vw;
    color: white;
}

.container > .hero {
    width: inherit;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input {
    background-color: transparent !important;
    border: 2px solid white !important;
    color: white !important;
}

.btn {
    border: 2px solid white;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: white !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white !important;
}

#signUpForm {
    display: none;
}

textarea{
    width: 100%;
    height: 15vh;
}

.checkbox {
    display: none;
}
